<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/oneclick.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="click" method="post">
    <div class="container">
        <div class="content">
            <h1 class="social-h">One-click Social Media Login</h1>
        <p class="social-p">Login with top social media networks in just one-click</p><br><br>
        <div class="social">
            <div2 class="social-icons fb">
                <a href="home" target="blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                <span>Sign up with facebook</span>
                &nbsp; &nbsp;
            </div2>&nbsp;
            <div2 class="social-icons inst">
                <a href="instagram" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i>
                <span> Sign up with Instagram</span></a>
                &nbsp; &nbsp;
            </div2><br><br><br><br>
            <div2 class="social-icons tw">
                <a href="homes" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i><span> Sign up with twitter</span></a>
                &nbsp; &nbsp;
            </div2>&nbsp;
            <div2 class="social-icons ln">
                <a href="links" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span> Sign up with linkedin</span></a>
                &nbsp; &nbsp;
            </div2>&nbsp;
        </div>
        </div>

    </div>
</body>
</html>

