<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery.post demo</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js">
  $(document).ready(function() {
		$(".show").hide();
		$("button).click(function)()
		{
			$(".test").hide();
			$(".show).show();
		});
		$(".show").click(function)
		{
			$(".test").show();
			$(".show).hide();
		});
	)};
  </script>
</head>
<body>
<button class="test">hide</button>
<button class="show">show</button>
<h2 div="test" >hello</h2>
<p div="test">hello</p>
<p>hello</p>
<p>hello</p>